<md-toolbar md-dialog-title color="primary">
	Login
	<span class="flex-spacer"></span>
	<button md-button md-dialog-close>&times;</button>
</md-toolbar>
<p>{{user | json}}</p>
<form novalidate #loginForm="ngForm" (ngSubmit)= "onSubmit()">
<md-dialog-content>
	<p>
		<md-input-container dividerColor= "{{username.invalid && !username.pristine ? 'warn' : 'primary'}}">
			<input mdInput placeholder= "username" type="text" #username="ngModel" required [(ngModel)]= "user.username" name="username">
			<md-hint>
				<span [hidden]= "username.pristine">
					<span [hidden]= "!username.errors?.required">username is required</span>
				</span>
			</md-hint>
		</md-input-container>
		<md-input-container dividerColor= "{{password.invalid && !password.pristine ? 'warn' : 'primary'}}">
			<input mdInput placeholder= "password" type="password" #password = "ngModel" required [(ngModel)]= "user.password" name="password">
				<md-hint>
				<span [hidden]= "password.pristine">
					<span [hidden]= "!password.errors?.required">password is required</span>
				</span>
			</md-hint>
		</md-input-container>
		<md-checkbox [(ngModel)]= "user.remember" name="remember">
			Remember Me
		</md-checkbox>
	</p>
</md-dialog-content>
<md-dialog-actions class= "flex-spacer">
	<button md-button md-dialog-close>cancel</button>
	<button type= "submit" md-button [disabled]= "loginForm.form.invalid" class="background-primary text-floral-white ">submit</button>
</md-dialog-actions>
</form>