<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

     <div fxFlex>
            <div>
               <h3>Contact Us</h3>
               <hr>
            </div>
     </div>

    <div fxFlex>
      <h3>Location Information</h3> 
      <div fxLayout="column" fxLayout.gt-sm="row">
          <div fxFlex="50" fxFlexOffset="20px">
                <h4>Our Address</h4>
                <address>
		              121, Clear Water Bay Road<br>
		              Clear Water Bay, Kowloon<br>
		              HONG KONG<br>
		              <i class="fa fa-phone"></i>: +852 1234 5678<br>
		              <i class="fa fa-fax"></i>: +852 8765 4321<br>
		              <i class="fa fa-envelope"></i>: 
                        <a href="mailto:confusion@food.net">confusion@food.net</a>
		           </address>
               <p></p>
                <div>
                    <a md-raised-button href="tel:+85212345678"><i class="fa fa-phone"></i> Call</a>
                    <a md-raised-button><i class="fa fa-skype"></i> Skype</a>
                    <a md-raised-button href="mailto:confusion@food.net"><i class="fa fa-envelope-o"></i> Email</a>
                </div>
            </div>
          <div fxFlex="40">
                <h4>Map of our Location</h4>
          </div>
        </div>
      </div>
      <div fxFlex fxFlexOffset= "20px" class="form-size" *ngIf="!processing && !resFeedback && !errMsg" [@expand]='expand'>
      	<h3>send us your feedback</h3>
      	<form novalidate [formGroup]="feedbackForm" (ngSubmit)= "onSubmit()">
      		<p>
      			<md-input-container class="half-width" dividerColor="{{formErrors.firstName ? 'warn':'primary'}}">
      				<input mdInput formControlName="firstName" placeholder="firstName" type="text" required>
      				<md-hint>
      					<span [hidden]="!formErrors.firstName">{{formErrors.firstName}}</span>
      				</md-hint>
      			</md-input-container>
      			<md-input-container class="half-width" dividerColor="{{formErrors.lastName ? 'warn':'primary'}}">
      				<input mdInput formControlName="lastName" placeholder="lastName" type="text" required>
      				<md-hint>
      					<span [hidden]="!formErrors.lastName">{{formErrors.lastName}}</span>
      				</md-hint>
      			</md-input-container>
      			<md-input-container class="half-width" dividerColor="{{formErrors.telNum ? 'warn':'primary'}}">
      				<input mdInput formControlName="telNum" placeholder="telNum" type="tel" pattern="[0-9]*" required>
      				<md-hint>
      					<span [hidden]="!formErrors.telNum">{{formErrors.telNum}}</span>
      				</md-hint>
      			</md-input-container>
      			<md-input-container class="half-width" dividerColor="{{formErrors.email ? 'warn':'primary'}}">
      				<input mdInput formControlName="email" placeholder="Email" required type="Email">
      				 <md-hint>
      					<span [hidden]="!formErrors.email">{{formErrors.email}}</span>
      				</md-hint>
      			</md-input-container>
      		</p>
      		<table class="form-size">
      			<td>
      				<md-slide-toggle  formControlName="agree">May we contact you</md-slide-toggle>
      			</td>
      			<td>
      				<md-select formControlName="contactType" placeholder="how?">
      					<md-option *ngFor="let type of contactType" [value]="type">
      						{{type}}
      					</md-option>
      				</md-select>
      			</td>
      		</table>
      		<p>
      		<md-input-container class="full-width">
      			<textarea mdInput formControlName="message" rows="12" placeholder="feedback">
      			</textarea>
      		</md-input-container>
      		</p>
      		<button type="submit" md-button class="background-primary text-floral-white" [disabled]="feedbackForm.invalid"> submit</button>
      	</form>
      </div>
      <div fxFlex fxFlexOffset= "20px" class="form-size" *ngIf = "resFeedback" [@expand]='expand'>
          <h3>Your Submission</h3>
        <p>
        <span>first Name: {{resFeedback.firstName}}</span>
                </p>
        <p>
        <span>Last Name: {{resFeedback.lastName}}</span>
                </p>
        <p>
        <span>Tel Number: {{resFeedback.TelNum}}</span>
                </p>
        <p>
        <span>Email: {{resFeedback.email}}</span>
                </p>
        <p>
        <span>Contact you? {{resFeedback.agree}}</span>
                </p>
        <p>
        <span>fHow? {{resFeedback.contactType}}</span>
                </p>
        <p>
        <span>Feedback: {{resFeedback.message}}</span>
      </p>
      </div>
      <div *ngIf="processing" [@expand]='expand'>
        <md-spinner></md-spinner><h4>Loading....</h4>
      </div>
      <div *ngIf="errMsg" [@expand]='expand'>
       <h4>Error</h4>
       <p>{{errMsg}}</p>
      </div>
</div>