<div class="container"	
	fxLayout="row"
	fxLayout.sm="column"
	fxLayout.xs="column"
	fxLayoutAlign.gt-md="space-around center"
	fxLayoutGap="10px" 
	fxLayoutGap.xs="0">

	<div fxFlex="40" *ngIf="dish"  [@visibility]="visibility">
		<md-card>
			<md-card-header>
				<md-card-title>
					<h3>{{dish.name | uppercase}}</h3>
				</md-card-title>
			</md-card-header>
			<img md-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
			<md-card-content>
				<p>{{dish.description}}</p>
			</md-card-content>
			<md-card-actions>
			    <button md-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
				<button md-button>LIKE</button>
				<button md-button>SHARE</button>
				<button md-button (click)="goBack()">BACK</button>
				<button md-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
			</md-card-actions>
		</md-card>
	</div>
	<div [hidden]="dish">
		<md-spinner></md-spinner><h4>Loading....</h4>
	</div>
	<div fxFlex="40" *ngIf="dish"  [@visibility]="visibility">
		<md-list>
			<h3 md-header>Comments</h3>
			<md-list-item *ngFor="let comment of dish.comments">
				<p md-line>
					<span> {{comment.comment}} </span>
				</p>
				<p md-line>
					<span> {{comment.rating}} stars</span>
				</p>
				<p md-line>
					<span> -- {{comment.author}}  {{comment.date | date}} </span>
				</p>
			</md-list-item>
			<div [hidden]="commentForm.invalid">			
			<md-list-item >
				<p md-line>
					<span> {{commentForm.get("comment").value}} </span>
				</p>
				<p md-line>
					<span> {{commentForm.get("rating").value}} stars</span>
				</p>
				<p md-line>
					<span> -- {{commentForm.get("author").value}} </span>
				</p>
			</md-list-item>
			</div>
		</md-list>
		<form novalidate [formGroup]="commentForm" (ngSubmit)= "onSubmit()" >
      			<md-input-container class="full-width" dividerColor="{{formErrors.author ? 'warn':'primary'}}">
      				<input mdInput formControlName="author" placeholder="name" type="text" required>
      				<md-hint>
      					<span [hidden]="!formErrors.author">{{formErrors.author}}</span>
      				</md-hint>
      			</md-input-container>
      			<p>
	      			<md-slider  formControlName="rating" min="1" max="5" step="1"  thumbLabel tickInterval="1">
	      			</md-slider>
	      		</p>
     			<md-input-container class="full-width" dividerColor="{{formErrors.comment ? 'warn':'primary'}}">
      				<textarea mdInput formControlName="comment" rows= "12" placeholder="comment" required >
      				</textarea>
      				<md-hint>
      					<span [hidden]="!formErrors.comment">{{formErrors.comment}}</span>
      				</md-hint>
      			</md-input-container>
      			<p>
      				<button type="submit" md-button class="background-primary text-floral-white" [disabled]="commentForm.invalid"> submit</button>
      			</p>
      	</form>
	</div>
	<div [hidden]="dish || errMsg">
		<md-spinner></md-spinner><h4>Loading....</h4>
	</div>
	<div *ngIf="errMsg">
		<h2>Error</h2>
		<h4>
			{{errMsg}}
		</h4>
	</div>
</div>