<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

<md-card *ngIf="dish" fxFlex>
  <md-card-header>
    <div md-card-avatar></div>
    <md-card-title>
      <h3>{{dish.name | uppercase}}</h3>
    </md-card-title>
  </md-card-header>
  <img md-card-image src="{{BaseURL+ dish.image}}" alt={{dish.name}}>
  <md-card-content>
    <p>{{dish.description}}
    </p>
  </md-card-content>
</md-card>
<div [hidden]="dish || dishErrMsg">
	<md-spinner></md-spinner><h4>Loading....</h4>
</div>
 <div *ngIf="dishErrMsg">
    <h2>Error</h2>
    <h4>
      {{dishErrorMsg}}
    </h4>
 </div>

<md-card *ngIf="promotion" fxFlex>
  <md-card-header>
    <div md-card-avatar></div>
    <md-card-title>
      <h3>{{promotion.name | uppercase}}</h3>
    </md-card-title>
  </md-card-header>
  <img md-card-image src="{{BaseURL + promotion.image}}" alt={{promotion.name}}>
  <md-card-content>
    <p>{{promotion.description}}
    </p>
  </md-card-content>
</md-card>
<div [hidden]= "promotion || promoErrMsg">
  <md-spinner></md-spinner><h4>Loading....</h4>  
</div>
<div *ngIf="promoErrMsg">
  <h2>Error</h2>
  <h4>
      {{promoErrMsg}}
  </h4>
</div>

<md-card *ngIf="leader" fxFlex>
  <md-card-header>
    <div md-card-avatar></div>
    <md-card-title>
      <h3>{{leader.name | uppercase}}</h3>
    </md-card-title>
  </md-card-header>
  <img md-card-image src="{{BaseURL + leader.image}}" alt={{leader.name}}>
  <md-card-content>
  	<h3>{{leader.designation}}</h3>
    <p>{{leader.description}}
    </p>
  </md-card-content>
</md-card>
<div [hidden]= "leader || leadErrMsg">
  <md-spinner></md-spinner><h4>Loading....</h4>  
</div>
<div *ngIf="leadErrMsg">
  <h2>Error</h2>
  <h4>
      {{leadErrMsg}}
  </h4>
</div>
</div>